.landing{
    /* background-image: url("https://images.pexels.com/photos/333513/pexels-photo-333513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    background-image: url("../../public/images/background.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header{
    background-color: #ffffff;
    border-radius: 5px;
    height: 60px;
}

.logo-space img{
    height: 50px;
    border-radius: 35px;
    margin: 5px
}

.intro-context-parent{
    padding-top: 5%;
}

.intro-context{    
    margin: 20px;
    padding: 1px;
    font-size: 25px;
    font-weight: 500;
    color: #808080;
    text-align: justify;
}

.intro-context:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.started-button :hover{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

button{
    padding-left: 60%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.intro-started{
    border-radius: 10px;
    font-size: large;
}